.filtering-card h1,.filtering-card h2,.filtering-card h3,.filtering-card h4,.filtering-card h5,.filtering-card h6,.filtering-card p{
    margin: 0 ;
    padding: 0;
}
.filtering-card{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: start;
    gap: 24px;
    font-family: 'iranyekan';
}
.filtering-card__form-column{
    width: 270px;
}
.filtering-card__form{
    font-family: 'iranyekan';
    width: 100%;
    padding: 32px 24px;
    background-color: #fff;
    border-radius: 24px;
    border: 1px solid #E5E7EB;
}
.filtering-card__open-filter-btn{
    padding: 6px 16px;
    background-color: #fff;
    border-radius: 8px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 85px;
    font-size: 16px;
    font-weight: 500;
    gap: 4px;
}
.filtering-card__search-box{
    border: 1px solid #E5E7EB !important;
    border-radius: 24px !important;
    padding: 10px 20px !important;
    outline: none !important;
    font-family: inherit !important;
    color: #121212 !important;
    margin-bottom: 24px !important;
}
.filtering-card__search-box::placeholder{
    color: #E5E7EB;
    font-family: inherit;
}
.filtering-card__form-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filtering-card__close-filter-form{
    display: none;
}
.filtering-card__form-title{
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
    margin-bottom: 24px !important;
}
.filtering-card__category-title{
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
    margin-bottom: 18px !important;
}
.filtering-card__category{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}
.filtering-card__category-container {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.filtering-card__category-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.filtering-card__category-container input:checked ~ .filtering-card__checked {
    background-color: #FF6B00;
    border: none;
}
.filtering-card__category-container input:checked ~ .filtering-card__checked:after {
    opacity: 1;
}
.filtering-card__category-container:hover input ~ .filtering-card__checked {
    background-color: #fff;
}
.filtering-card__category-container:hover input:checked ~ .filtering-card__checked {
    background-color: #FF6B00;
}
.filtering-card__category-container .filtering-card__checked {
    height: 20px;
    width: 20px;
    background-color: #fff;
    transition: background-color 0.25s ease;
    border-radius: 4px;
    border: 1px solid #D1D5DB;
    position: relative;
}
.filtering-card__category-container .filtering-card__checked:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}
.filtering-card__category-container .filtering-card__category-name {
    color: #121212;
    line-height: 1.4;
    font-size: 16px;
}
.filtering-card__submit-btn{
    background-color: #FF6B00;
    color: #fff;
    border-radius: 12px;
    border: none;
    outline: none;
}
.filtering-card__submit-btn:hover{
    background-color: #FF6B00;
}
.filtering-card__result-column{
    width: 77%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.filtering-card__active-filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filtering-card__clear-filters{
    color: #fff;
    padding: 5px 15px;
    background-color: #FF6B00;
    border-radius: 8px;
}
.filtering-card__clear-filters:hover{
    color: #fff;
}
.filtering-card__results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.filtering-card__result{
    background-color: #fff;
    padding: 16px 18px 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}
.filtering-card__video-wrapper{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.filtering-card__play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.filtering-card__video-image{
    width: 100%;
    object-fit: cover;
}
.filtering-card__title{
    font-size: 16px;
    font-weight: 700;
}
@media (max-width:650px){
    .filtering-card__open-filter-btn{
        display: flex;
    }
    .filtering-card{
        flex-direction: column;
    }
    .filtering-card__form {
    opacity: 0;
    height: 0;
    width: 0;
    position: fixed;
    z-index: -2;
    transition: all 0.3s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden; 
  }
    .filtering-card__form.active{
         opacity: 1;
    height: 100vh;
    width: 100%;
    z-index: 10;
    }
    .filtering-card__results{
        grid-template-columns: 1fr;
    }
    .filtering-card__result-column{
        width: 100%;
    }
    .filtering-card__form-column{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .filtering-card__close-filter-form{
        display: block;
    }
}